:root {
	--bg-color: #f2f2f2;
    --bg-color-card: #f3f3f3;
	--text-color: #181818;
	--card-shadows: 0px 0px 10px 1px rgba(200, 200, 200, 0.5);
}

.dark-mode {
	--bg-color: #1a202c;
    --bg-color-card: #1d2129;
	--text-color: #f7fafc;
	--card-shadows: 0px 0px 5px 1px rgba(119, 119, 119, 0.2);
}

body {
	transition: background-color ease 0.5s;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.card {
    background-color: var(--bg-color-card);
	box-shadow: var(--card-shadows);
    transition: background-color ease 0.5s;
}
