@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.hero {
		@apply w-full flex justify-center items-center flex-col;
		min-height: calc(100vh - 64px);
	}
	.about-me-photo {
		@apply w-40 h-40 rounded-full overflow-hidden relative flex items-center justify-center;
	}
	.about-me-photo::before {
		@apply w-full h-full absolute;
		content: '';
		background: conic-gradient(
			#515dff,
			#ff73e1,
			#7640ce,
			#c43321,
			#ff00aa,
			#f1ff72,
			#515dff
		);
		border: 4px solid transparent;
		background-clip: border-box;
		background-origin: border-box;
		animation: gradientAnimation 1.5s ease-in-out alternate infinite;
	}
	.project-card {
		@apply p-3 rounded;
		width: calc(50% - 0.625rem);
	}
}

@media screen and (max-width: 640px) {
	.project-card {
		width: 100%;
	}
}

@keyframes gradientAnimation {
	100% {
		transform: rotate(-360deg);
	}
}
